@page "/"

<PageTitle>Home</PageTitle>

<h1>Brady's Developer Website</h1>

This website is designed to showcase the developer talents of Brady Petterson.
You will find pages that contain tracking and helpful tools for the entire software development life cycle of a kanban team. 
Please Explore!
