.table-striped {
    background-color: #ffffff;
    border: 1px solid #ddd;
}

    .table-striped thead th {
        background-color: #053f7a;
        color: #ffffff;
        text-align: center;
    }

    .table-striped tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    .table-striped tbody tr:hover {
        background-color: #e0f0ff;
    }
